# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
/dist
/build
dist-ssr
*.local
*.class

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
.DS_Store
dist
.cache
.turbo

tests/server/static
tests/server/static/upload

.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
pnpm-lock.yaml

.history



.metadata
.classpath
.project
.module_prj
.settings/
.idea/
.run/
.svn/
*.iml
*.log
bin/
out/
temp/
logs/
target/
build/
logs/
rebel.xml
/daxpay-single-server/src/main/resources/static/web/
/daxpay-single-server/src/main/resources/static/h5/
